<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<th:block th:include="fragments/menu"></th:block>

<div class="page-title">Product List</div>

<div class="product-preview-container" th:each="prodData : ${products.content}">
    <ul>
        <li><img class="product-image"
                 th:src="@{|/productImage?code=${prodData.code}|}"/></li>
        <li>Code: <span th:utext="${prodData.code}"></span></li>
        <li>Name: <span th:utext="${prodData.name}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatDecimal(prodData.price,3,2,'COMMA')}"></span></li>
        <li>Online Catalogue: <span th:utext="${prodData.onlineCatalogue}"></span></li>
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
            <li th:if="${!prodData.onlineCatalogue}">
                <a style="color:red;"
                   th:href="@{|/admin/product/edit?code=${prodData.code}|}">Edit Product</a>
            </li>
            <li th:if="${!prodData.onlineCatalogue}">
                <a style="color:blue;"
                   th:href="@{|/admin/product/sync?code=${prodData.code}|}">Sync</a>
            </li>
        </th:block>
    </ul>
</div>

<br/>
<div class="page-navigator" th:if="${products.totalPages > 1}">
    <th:block th:each="page : ${pageNumbers}">

        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
            <a th:href="@{|/product/all?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{|/admin/product/all?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
        </th:block>

        <span class="nav-item" th:if="${page == -1}"></span>

    </th:block>
</div>

<th:block th:include="fragments/footer"></th:block>

</body>
</html>
