<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <a th:href="@{/}">Home</a>
    |
    <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
        <a th:href="@{/product/all}">
            Products List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/product/all}">
            Products List
        </a>
        |
        <a th:href="@{/admin/product/new}">
            Create Product
        </a>
        |
    </th:block>
</div>
