<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="fragments/header"></th:block>
<th:block th:include="fragments/menu"></th:block>

<div class="page-title">Product List</div>

<div class="product-preview-container" th:each="prodInfo : ${products.content}">
    <ul>
        <li><img class="product-image"
                 th:src="@{|/productImage?code=${prodInfo.code}|}"/></li>
        <li>Code: <span th:utext="${prodInfo.code}"></span></li>
        <li>Name: <span th:utext="${prodInfo.name}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></li>
        <li>
            <form method="POST" th:action="@{|/cart/add?code=${prodInfo.code}|}">
                <button type="submit" name="submit" value="value" class="link-button">Buy Now</button>
            </form>
        </li>
    </ul>
</div>

<br/>
<div class="page-navigator" th:if="${products.totalPages > 1}">
    <th:block th:each="page : ${pageNumbers}">

        <a th:href="@{|/product/all?page=${page}|}" th:if="${page != -1}"
           class="nav-item" th:utext="${page}"></a>

        <span class="nav-item" th:if="${page == -1}"> ... </span>

    </th:block>
</div>

<th:block th:include="fragments/footer"></th:block>

</body>
</html>
